html {
	font-size: 50px;
}

@media (max-width: 1750px) {
  html {
    font-size: 40px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 1060px),
@media (orientation: portrait) {
  html {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 20px;
  }
}

body {
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	background-image: url("./Images/bg.jpg");
	background-size: 200%;
	background-position-x: 0px;
}

/********** fixed language selector image **********/

img#langImage,
img#langImage2 {
	transform: scale(2);
    position: fixed;
    top: 12px;
    right: 15px;
	cursor: pointer;
}

img#langImage2 {
	right: 0;
	left: 15px;
}

img#langImage:hover,
img#langImage:focus {
	filter: saturate(120%);
}

/********** FLAGS **********/

body.playing div#timerSetup {
	display: none;
}

body.playing div#timerMain,
body.playing.done div#resetHolder {
	display: block;
}

body:not(.playing) div#timerSetup {
	display: block;
}

body:not(.playing) div#timerMain,
body:not(.playing) div#resetHolder,
body.playing:not(.done) div#resetHolder {
	display: none;
}

body.done div#timerSub {
	display: none;
}

body:not(.done) div#timerSub {
	display: block;
	margin-bottom: 2rem;
}

body.withRebuys div#rebuy {
	display: inline;
}

body:not(.withRebuys) div#rebuy {
	display: none;
}

body.evenChips span#plus {
	display: none;
}

body:not(.evenChips) span#plus {
	display: inline-block;
}

/********** Main elements layout **********/

body>div>div {
	position: relative;
	margin-top: 1rem;
	width: 100%; /* Take full width of the page */
	display: flex; /* Use Flexbox for layout */
	justify-content: space-around; /* Distribute images with space between them */
}

/********** Shaded text **********/

.shade {
	color: black;
	text-shadow:
    3px  3px 0px white, 
   -3px  3px 0px white, 
    3px -3px 0px white, 
   -3px -3px 0px white;
}

.shade1 {
	color: black;
	text-shadow:
    1px  1px 0px white, 
   -1px  1px 0px white, 
    1px -1px 0px white, 
   -1px -1px 0px white;
}

.white {
	color: white;
	text-shadow: 
    3px  3px 0px black, 
   -3px  3px 0px black, 
    3px -3px 0px black, 
   -3px -3px 0px black;
}

span, label, .white1 {
	color: white;
	text-shadow: 
    1px  1px 0px black, 
   -1px  1px 0px black, 
    1px -1px 0px black, 
   -1px -1px 0px black;
}

/********** Top row - big chips **********/

#imgHolder {
	height: 15vw; /* Scale all images to the same height */
	overflow: hidden; /* Prevent horizontal scrolling */
}

/* Image setup */
#imgHolder div {
	position: relative;
	display: inline-block;
	height: 100%;
	object-fit: cover; /* Maintain aspect ratio while filling the height */
}

#imgHolder img {
	height: 15vw;
}

#imgHolder input {
	position: absolute;
    width: 100%;
    height: 1.8rem;
    top: calc(50% - 0.9rem);
    left: -0.05rem;
    background: transparent;
	font-size: 1.8rem;
	font-weight: bold;
	border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* General styling (optional) */
input[type=number] {
	text-align: center;
	appearance: none; /* Ensures compatibility with other browsers */
}

/********** First row - timer **********/

div#timerHolder input {
	height: 1rem;
	font-size: 1rem;
}

button {
	width: 4rem;
	height: 1.1rem;
	margin-left: 0.5rem;
	vertical-align: text-bottom;
	font-size: 0.8rem;
}

div#timerSub button {
	width: 8rem;
	height: 2.2rem;
	margin-left: 1rem;
	vertical-align: text-bottom;
	font-size: 1.6rem;
}

div#timerMain {
	text-align: center;
}

div#timerMain button {
	margin-bottom: 0.6rem;
}

div#timer {
	display: inline-block;
    width: 16rem;
    height: 4rem;
    font-size: 4rem;
    line-height: 4rem;
    background-color: white;
    color: black;
    font-weight: bold;
    letter-spacing: .2em;
	user-select: none;
}

#blindInputs {
	text-align: right;
	margin-top: 1rem;
}

#blinds {
	font-size: 4rem;
	margin-left: 0.75rem;
	user-select: none;
}

/********** Middle row - stack and chips count **********/

div#calcHolder1 {
	line-height: 2rem;
}

span#stackStart,
span#stackRebuy {
	font-weight: bold;
}

span#startChips,
span#plus {
	vertical-align: top;
}

div#startChipsHolder {
	position: relative;
	display: inline-block;
	width: 6rem;
	height: 2rem;
}

div#startChipsHolder>div {
	position: absolute;
	width: 2rem;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

div#startChipsHolder span {
	position: absolute;
	top: 0.7rem;
	left: 0.4rem;
	font-size: 0.6rem;
	line-height: 0.6rem;
	user-select: none;
}

div#startChipsHolder>div:nth-last-child(1) span {
	left: 40%;
}

/********** Bottom row - players and rebuys **********/

div#calcHolder2 input {
	height: 1rem;
	font-size: 1rem;
}

div#resetHolder {
	text-align: center;
}

div#soundToggle {
	border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
    cursor: pointer;
    user-select: none;
    min-width: 7rem;
    display: inline-block;
    text-align: center;
	background-color: #fff3;
}